<main class="main">
  <div class="content">

    <div class="desk" *ngIf="isWorking()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
        <!-- Floor -->
        <rect x="0" y="150" width="200" height="10" class="floor"></rect>
        <!-- Desk Group -->
        <g class="desk-group" [ngClass]="{'down': !isStading()}">
          <!-- Legs -->
          <rect x="50" y="60" width="10" class="leg" height=""></rect>
          <rect x="140" y="60" width="10" class="leg" height=""></rect>
          <!-- Desk Top -->
          <rect x="40" y="50" width="120" height="20" class="desk-top"></rect>
          <!-- MacBook -->
          <g class="macbook">
            <!-- Base -->
            <rect x="80" y="45" width="40" height="5" class="macbook"></rect>
            <!-- Screen -->
            <rect x="85" y="25" width="30" height="20" class="macbook-screen"></rect>
          </g>
          <!-- Second Monitor -->
          <g class="second-monitor">
            <!-- Screen -->
            <rect x="130" y="0" width="50" height="30" class="macbook-screen"></rect>
            <rect x="135" y="5" width="40" height="20" fill="#ffffff" class="macbook-screen-picture"></rect>
            <!-- Stand -->
            <rect x="170" y="30" width="5" height="20" class="stand"></rect>
            <!-- Base of the Stand -->
            <rect x="160" y="50" width="20" height="5" class="stand-base"></rect>
          </g>
        </g>
      </svg>
    </div>
    <span class="elapsed-time" *ngIf="isWorking()">
      <span class="elapsed-time__label">{{ isStading() ? 'Standing' : 'Sitting' }}:</span>
      <span class="elapsed-time__time">
        {{ elapsedTime() }} minutes
      </span>
    </span>
    <ng-container *ngIf="!isWorking()">
      <button mat-raised-button (click)="startWorking()">Start working</button>
    </ng-container>
    <ng-container *ngIf="isWorking()">
      <button mat-raised-button (click)="stopWorking()">Stop working</button>
    </ng-container>
  </div>
</main>

<router-outlet />
